.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

footer {
  margin-top: 6%;
}

.button-khalti:hover {
  background-color: #4B0082;
  color: white;
  border: 2px solid #4B0082;
}
